<div style="display:none;">
  <span id="products_product_sold_out">{{ 'products.product.sold_out' | t }}</span>
  <span id="products_product_unavailable">{{ 'products.product.unavailable' | t }}</span>
  <span id="products_product_savings">{{ 'products.product.savings' | t }}</span>
  <span id="products_product_items_left_count_one">{{ 'products.product.items_left_count.one' | t }}</span>
  <span id="products_product_items_left_count_other">{{ 'products.product.items_left_count.other' | t }}</span>
  <span id="collections_general_new">{{ 'collections.general.new' | t }}</span>
  <span id="collections_general_pre_order">{{ 'collections.general.pre_order' | t }}</span>
  <span id="collections_general_sale">{{ 'collections.general.sale' | t }}</span>
  <span id="products_product_sold_out">{{ 'products.product.sold_out' | t }}</span>
  <span id="collections_general_coming_soon">{{ 'collections.general.coming_soon' | t }}</span>
  <span id="collections_general_sale">{{ 'collections.general.sale' | t }}</span>
  <span id="products_product_sold_out">{{ 'products.product.sold_out' | t }}</span>
  <span id="products_product_savings">{{ 'products.product.savings' | t }}</span>
  <span id="products_product_add_to_cart">{{ 'products.product.add_to_cart' | t }}</span>
</div>